@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
.bg-custom{
    background-color:#025ef8;
     
}


*{
    font-family: 'Poppins', sans-serif;
}

.nav-link{
    color: #efba2b !important;
    font-weight: 10000 !important;
}
.nav-link:hover {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn-custom{
    background-color: red !important;
    font-weight: 8000 !important;
    color:#efba2b !important;
     
}
.btn-custom:hover {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.btn-collection{
     
    max-width: 241px;
    margin:  2em auto;
}

.img-card{
    margin: 5px 0px;
    transition: .1s;
}
.img-card:hover{
    transform: scale(1.04);
    cursor: pointer;
}


.btn-collection-playing{
     
    max-width: 110px;
    margin:  2em auto;
}
h4{
    font-size: 5em;
    font-weight: 800;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}